@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Roboto', sans-serif;
    color: blue;
    font: bold;
    font-size: 1.5em;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 70px;
}

.navbar-left {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.navbar-right a {
    color: #3A4660;
    /* font-size: 1.2em; */
    font-family: 'Roboto', sans-serif;
}

/* FOOTER STARTS HERE */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    /* border: 5px solid red; */
}

.footer-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* border: 5px solid red; */
}

.footer-heading {
    font-weight: 700;
    color: #3A4660;
    margin-bottom: 20px;
}

.footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    padding: 7px;
    /* border: 5px solid red; */
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
    /* border: 5px solid red; */
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    justify-content: center;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8690a7;
    /* border: 5px solid red; */
}

/* CONTACT SECTION STARTS HERE */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.5;
}

.contact-image {
    display: flex;
    justify-content: flex-end;
    height: 550px;
    /* border: 5px solid red; */
    width: 50%;
}

.contact-heading {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3A4660;
    max-width: 500px;
    /* border: 5px solid red; */
}

.contact-paragraph {
    font-size: 1.2em;
    color: #3A4660;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 500px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

/* CONTACT SECTION ENDS HERE */

/* CAROUSEL STARTS HERE */
.cases {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.card {
    position: relative;
    height: 500px;
    /* border: 5px solid red; */
    width: 500px;
    padding: 20px;
}

.card-text {
    position: absolute;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #3A4660;
    font-weight: 500;
    bottom: 0;
}

.button-blue-small {
    /* display: flex; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    font-size: 14px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

/* CTA STARTS HERE */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-weight: 400;
    font-size: 20px; */
    height: 100vh;
}

.cta-heading {
    font-weight: 700;
    font-size: 48px;
    color: #3A4660
}

.cta-subheading {
    font-size: 19px;
    line-height: 38px;
    text-align: center;
    color: #8690a7;
}

.button-blue {
    display: flex;
    align-items: center;
    border: 2px solid blue;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    border-radius: 15px; 
    color: white;
    font-size: 17px;
}

/* HERO SECTION STARTS HERE */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* border: 5px solid red; */
}

.hero-heading {
    font-weight: 700;
    font-size: 84px;
    color: blue;
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: 24px;
    color: #3A4660;
    font-weight: 500;
    margin-bottom: 20px;
}

/* CTA SECTION STARTS HERE */

.cta-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid red; */
}

.cta-main-heading {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    max-width: 800px;
    font-weight: 700;
    font-size: 100px;
    color: #3A4660;
    margin: 100px;
}

.cta-main-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 800px;
    font-size: 24px;
    color: #8690a7;
    margin: 100px;
}